<div class="form-container">
    <form #f="ngForm">
        <div class="form-group">
            <label for="formGroupExampleInput">Preço do aluminio: </label>
            <input type="number" [(ngModel)]="orcamentoValues.aluminiumValue" format="currency" precision="2" name="aluminiumValue" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Valor da mão de obra: </label>
            <input type="number" [(ngModel)]="orcamentoValues.workValue" format="currency" precision="2" name="workValue" class="form-control"/>
        </div>
    <button type="submit" (click)="atualizarOrcamentoMetricas()" class="btn btn-primary">Atualizar as métricas do orcamento</button>
    <br><br>
    <button type="submit" (click)="limparMetricasOrcamento()" class="btn btn-primary">Limpar as métricas do orcamento</button>
    <br><br>
    <button (click)="navigateToHome()" type="button" class="btn btn-primary">Voltar a tela inicial</button>
</form>
</div>