@import './dist/scss/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-weight: 400;
}

body{
    background: $primary-background-color;
}

//Classes
.container{
    width: 350px;
    margin: 50px auto;
}

.form-container {
    width: 50%; /* Ajuste a largura conforme necessário */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px; /* Espaçamento interno */
    background-color: #ffffff; /* Cor de fundo desejada */
    border: 1px solid #cccccc; /* Opcional: borda para destacar */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcional: sombra suave */
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
